<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відновлення Паролю</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>Відновлення Паролю</h2>
        <p>Шановний(а) {{ user.first_name }} {{ user.last_name }},</p>
        <p>Ми отримали запит на відновлення паролю для вашого облікового запису. Щоб змінити пароль, будь ласка, натисніть на посилання нижче:</p>
        <a href="{{ url }}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none;">Відновити Пароль</a>
        <p>Якщо ви не ініціювали цей запит, проігноруйте цей лист. Ваш пароль залишиться незмінним.</p>
        <p>З повагою,<br>Назва Вашої Компанії</p>
    </div>
</body>
</html>